<section class="layout--base bg-light-gray pv4">
  <div class="measure f5 lh-copy stack">
    <p>I've been writing code for <span class="t-primary">{{ yearsCoding }} years</span> now, working for companies ranging from exciting start-ups, to large financial institutions. I've predominantly written JavaScript and CSS, across a range of frameworks and libraries such as React, jQuery, SCSS, </p>

    <p>Alongside my career in coding, I've also fully enjoyed <span class="t-primary">mentoring and coaching</span> other developers along their career journeys.</p>
  </div>
</section>
