{% macro postItem(url, title, date) %}
  <article>
    <h3>
      <a href="{{ url }}" rel="bookmark">{{ title }}</a>
    </h3>
    <time class="f6 db gray" datetime="{{ date | htmlDate }}">{{ date | dateFilter }}</time>
  </article>
{% endmacro %}
