---
layout: 'home'
metaTitle: 'Joseph Shambrook - Front End Developer'
---

{% from "postItem.njk" import postItem %}

<section class="pa3 pa4-ns">
  <h2 class="f3 lh-copy">
    <div class="intro-line">Hey 👋</div>
    <div class="intro-line"><span class="t-primary">I'm Joe</span>, <br class="dn-ns dn-m"/>a <span class="t-primary">Front End Developer</span></div>
    <div class="intro-line">working for <a href="https://and.digital" target="_blank" rel="noopener noreferrer" class="t-and">AND Digital</a></div>
    <div class="intro-line">in <span class="t-primary">Edinburgh, Scotland</span></div>
  </h2>
</section>

{% set postList = collections.posts %}
{% if collections.posts.length %}
  <section class="layout--posts bg-light-gray pv4">
    {# <ol reversed>
      {% for item in postList | reverse %}
        {% if not loop.first %}
          <hr/>
        {% endif %}
        {{ postItem(item.url, item.data.title, item.date) }}
      {% endfor %}
    </ol> #}

    {% for item in postList | reverse %}
      {{ postItem(item.url, item.data.title, item.date) }}
    {% endfor %}
  </section>
{% endif %}
