.layout--base {
  --main-width: 100%;

  display: grid;
  grid-template-columns:
    minmax(1rem, 1fr)
    minmax(auto, var(--main-width))
    minmax(1rem, 1fr);
}

.layout--base > * {
  grid-column: 2 / 3;
}

@media screen and (min-width: 47rem) {
  .layout--base {
    --main-width: 45rem;
  }
}
